.reaction-container {
    display: inline-block;
    position: relative; /* Ensure the parent is positioned relative */
    margin-right: 10px;
}


.reaction-btn {
    font-size: 20px;
    cursor: pointer;
}


.reaction-options {
    position: absolute;
    bottom: 100%; /* Move the options above the button */
    left: 50%; 
    transform: translateX(-50%); /* Center the options horizontally */
    padding: 5px;
    z-index: 1000;
    margin-bottom: 8px;
    white-space: nowrap;
    display: none; /* Initially hide the options */
}

.reaction-amount {
    display: inline-block; 
    padding: 5px 10px; /* Adjust padding for better spacing */
    margin: 0 2px; /* Change vertical margin to horizontal */
    text-align: center;
    cursor: pointer;
}


.comment-reaction-container {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.comment-reaction {
    font-size: 16px;
    cursor: pointer;
}

.comment-reaction-amount {
    display: block;
    width: 100%;
    padding: 3px;
    margin: 2px 0;
    text-align: center;
    cursor: pointer;
}
